.dropdown {
    position: relative;
  }

.dropdown_button {
  min-width: 5rem;
}
  
.menu {
  position: relative;

  list-style-type: none;
  margin: 5px;
  padding: 5px;

  border: 1px solid grey;
  width:max-content;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}