.hidden{
  z-index: 1000;
  top: 0;
  height:100%;
  width:100%;
  background-color: rgba(134, 134, 134, 0.8);
  display:none;
}

.active{
  position:absolute;
  height:130%;
  width: 100%;
  background-color: rgba(134, 134, 134, 0.8);
  display:flex;
  justify-content:center;
  align-items: center;
  overflow:hidden;
}

#hide_scroll{
  overflow:hidden;
}

#show_scroll{
  overflow:visible;
}

#lightbox_img{
  z-index: 1000;
  filter: brightness(0);
  height:4vh;
  margin: auto;
  text-align: center;
  display: block;
}

#lightbox_title{
  vertical-align: top;
  margin: auto;
  text-align: center;
  font-size:20px;
}

#circle{
    position: absolute;
    background-color: grey;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border-color: black;
    border: solid;
}
#lightbox_wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
