.hidden{
  z-index: 1000;
  top: 0;
  height:100%;
  width:100%;
  background-color: rgba(134, 134, 134, 0.8);
  display:none;
}

.active{
  position:absolute;
  height:1000vh;
  width: 1000vw;
  background-color: rgba(134, 134, 134, 0.8);
  display:flex;
  justify-content:center;
  align-items: center;
}

#hide_scroll{
  overflow:hidden;
}

#show_scroll{
  overflow:visible;
}

#lightbox_img{
  z-index: 1000;
  filter: brightness(0);
  height:4vw;
  position:absolute;
}

#lightbox_title{
  vertical-align: top;
  position:relative;
  padding-top:30vh;
}