#lightbox{
  position: fixed;
  z-index: 1000;
  top: 0;
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, .8);
  display:none;
}

#lightbox.active{
  display:flex;
  justify-content:center;
  align-items:center;
}